[submodule "catkin_ws/src/kbhackathon"]
	path = catkin_ws/src/kbhackathon
	url = https://github.com/byu-magicc/kbhackathon.git
[submodule "catkin_ws/src/realsense"]
	path = catkin_ws/src/realsense
	url = https://github.com/intel-ros/realsense.git
[submodule "catkin_ws/src/timed_roslaunch"]
	path = catkin_ws/src/timed_roslaunch
	url = https://github.com/MoriKen254/timed_roslaunch.git
[submodule "catkin_ws/src/vrpn_client_ros"]
	path = catkin_ws/src/vrpn_client_ros
	url = https://github.com/ros-drivers/vrpn_client_ros.git
[submodule "catkin_ws/src/vrpn_transform"]
	path = catkin_ws/src/vrpn_transform
	url = git@magiccvs.byu.edu:lab/vrpn_transform.git
