<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Vision system -->
    <include file="$(find kb_blue)/launch/d435.launch" />
    <include file="$(find kb_blue)/launch/localize_rtab.launch">
        <arg name="localization" value="true" />
    </include>

    <!-- Low-level control -->
    <include file="$(find controller)/launch/controller.launch" />

    <!-- High level controller -->
    <!--<rosparam command="load" file="$(find controller)/param/pruned_win.yaml" />-->
    <!--
    <node name="manager" pkg="controller" type="master.py" output="screen" />
    -->
</launch>
